$(document).ready ->
  
  $("#check").on("ajax:success", (e, data, status, xhr) ->
    window.location.replace("<%= 'http://' + ENV['APP_DOMAIN'] %>")
   ).on("ajax:error", (xhr, status, error) ->
    return alert('error!')
   ).on "ajax:send", (xhr) ->
    $(this).attr("disabled", true)
    return $(".handler img").addClass 'inline-block'

  $("#check").click ->
    if $(this).attr("disabled")
      return false
