.container {
  padding: 0;
}
.col-xs-4 {
  padding: 15px;
}
.inline-block {
  display: inline-block!important;
}

.handler {
  img {
    width: 30px;
    margin: 0 0 0 10px;
    display: none;
  }
}

.btns {
  div {
    display: inline-block;
    &.auth {
      float: right;
    }
  }
  margin: 20px 0 0 0;
}
