.btns
  .handler
    = link_to 'Обновить данные', { :controller => "media", :action => "sync" }, 
                                   :class => 'btn btn-default',
                                   :id => 'check',
                                   :remote => true,
                                   :method => :post if current_user 
    = image_tag asset_path 'load.gif'
  .auth
    = link_to 'Войти', user_omniauth_authorize_path(:instagram), :class => 'btn btn-default' unless current_user 
    = link_to 'Выйти', destroy_user_session_path, :class => 'btn btn-default', :method => :delete if current_user
  div style='clear: both;'
  hr
