- if current_user
  - if current_user.medias.count > 0
    .container
      .row
        - current_user.medias.reverse_each do |item|
          .col-xs-4
            = image_tag item.server_image, :class => 'img-responsive'
  - else
    | У вас пока нет фотографий.
